{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}

{% block content %}
<!-- Page Content-->


<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/login-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
            <h class="heading">Log In</h>
            <span class="subheading">Welcome Back!</span>
            </div>
        </div>
        </div>
    </div>

</header>

<main class="mb-4">
    <div class="container">
        <div class="row">
        <!-- Flash message section -->
        <div class="container py-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
          </div>
          
        
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- Render login form -->
            {{ render_form(form, novalidate=True) }}
        </div>
        </div>
    </div>
</main>



{% endblock %}