{% include "header.html" %}

<!-- Header-->
{% include "header.html" %}

<!-- Header-->
<header class="masthead" style="background-image: url('https://source.unsplash.com/1600x900/?coding');" alt="Coding Background"></header>
    <div class="container position-relative px-4 px-lg-5"></div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>Kushal's Portfolio</h2>
                    <span class="subheading">A collection of my projects and coding escapades.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->

<div class="container px-4 px-lg-5 my-5 mt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-8 col-lg-8 col-xl-8">
            <div class="intro-section">
                <h1 class="text-left mb-4" style="font-family: 'Serif';">LET ME INTRODUCE MYSELF</h1>
                <p class="lead text-justify" style="font-family: 'Sans-serif';">Hey there! I'm Kushal Regmi, a caffeine-fueled second-year Computer Engineering student. My life is a mix of Python scripts, C++ algorithms, and JavaScript quirks. Dive in to see my projects and coding escapades!</p>
                <p class="text-justify" style="font-family: 'Sans-serif';">From my first "Hello, World!" to now, it's been a wild ride. I'm proficient in Python, C++, C, JavaScript, HTML, and CSS. Let's turn ideas into code together!</p>
            </div>
            <div class="skills-section">
                <h2 class="text-left my-4" style="font-family: 'Serif';">Skills & Technologies</h2>
                <ul class="list-inline text-lefts" style="padding: 20px;">
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/python.png" alt="Python" title="Python">
                    </li>
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/html-5.png" alt="HTML" title="HTML">
                    </li>
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/css3.png" alt="CSS" title="CSS">
                    </li>
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/c-plus-plus-logo.png" alt="C++" title="C++">
                    </li>
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/c-programming.png" alt="C" title="C">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 text-center">
            <img src="path/to/your/image.jpg" class="img-fluid rounded-circle my-4" alt="Your Image">
        </div>
    </div>
</div>

{% include "footer.html" %}

<!-- Main Content-->

<div class="container px-4 px-lg-5 my-5 mt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-8 col-lg-8 col-xl-8">
            <div class="intro-section">
                <h1 class="text-left mb-4" style="font-family: 'Serif';">LET ME INTRODUCE MYSELF</h1>
                <p class="lead text-justify" style="font-family: 'Sans-serif';">Hey there! I'm Kushal Regmi, a caffeine-fueled second-year Computer Engineering student. My life is a mix of Python scripts, C++ algorithms, and JavaScript quirks. Dive in to see my projects and coding escapades!</p>
                <p class="text-justify" style="font-family: 'Sans-serif';">From my first "Hello, World!" to now, it's been a wild ride. I'm proficient in Python, C++, C, JavaScript, HTML, and CSS. Let's turn ideas into code together!</p>
            </div>
            <div class="skills-section">
                <h2 class="text-left my-4" style="font-family: 'Serif';">Skills & Technologies</h2>
                <ul class="list-inline text-lefts" style="padding: 20px;">
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/python.png" alt="Python" title="Python">
                    </li>
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/html-5.png" alt="HTML" title="HTML">
                    </li>
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/css3.png" alt="CSS" title="CSS">
                    </li>
                    <li class="list-inline-item m-2">
                        <img src="https://img.icons8.com/color/48/000000/c-plus-plus-logo.png" alt="C++" title="C++">
                    </li>
                    <li class="list-inline-item m-2"></li>
                        <img src="https://img.icons8.com/color/48/000000/c-programming.png" alt="C" title="C">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 text-center">
            <img src="path/to/your/image.jpg" class="img-fluid rounded-circle my-4" alt="Your Image">
        </div>
    </div>
</div>


{% include "footer.html" %}



